@charset "UTF-8";

/* style.css */
html, body {
    min-height: 100%; /* Define altura total da página */
    margin: 0;    /* Remove margens padrão do navegador */
    padding: 0;
}

* {
    box-sizing: border-box; /* Evita que padding/margin quebrem o layout */
}


/* style.css */
body {
    font-family: sans-serif;
    background: linear-gradient(to top, #ffffff, #8E5572);
    background-attachment: fixed;
    box-shadow: 10px 10px 10px black;
    font-size: 20px;
    
}


p {

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

main {

    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 30px black


}

h1 {

color: #BBBE64;
text-shadow: 1px 1px 1px rgb(62, 61, 61);
font-family: 'Times New Roman', Times, serif;
}


h2 {

color: #8E5572;
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;

}


