@charset "UTF-8";

body {
    background-color: rgb(212, 255, 217);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    color: rgb(17, 0, 255)

}

h2 {

    color: black;
}

h1#principal {

    text-align: center;
    background-color: black;
    color: white;
}

.basico {

    color: blueviolet;

}

.intermediario {

color: rgb(111, 119, 26);
}

.avancado {



}


.destaque {

background-color: rgba(248, 218, 48, 0.59);

}

mark {
background-color: transparent;
text-decoration: underline;

}

